header {
    display: flex;
    flex-direction: column;
    position: relative;

    .header_middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #A8A8A8;
        padding: 5px 25px;
        height: 100px;

        .header_left {
            display: flex;
            align-items: center;

            .header_logo {
                width: 80px;
                margin-right: 20px;

                img {
                    width: 100%;
                    height: auto;
                }

            }

            i {
                font-size: 210%;
            }
        }

        .header_right {
            display: flex;
            align-items: center;
            cursor: pointer;

            .box_avatar {
                position: relative;

                .customAvatar {
                    width: 50px;
                    height: 50px;
                    // border: 1px solid #A8A8A8;
                    border-radius: 50%;
                    overflow: hidden;
                    align-items: center;
                    justify-content: center;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    p {
                        font-size: 18px;
                        font-weight: bold;
                        color: #E31837;
                        text-align: center;
                        padding-top: 15px;
                    }

                }

                span {
                    font-size: 60%;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-color: #D8DADF;
                    border-radius: 50%;
                    padding: 4px 4px 2px 3px;
                    text-align: center;
                    justify-content: center;
                    border: 2px solid white;
                }
            }


        }
    }

    .nav {
        position: absolute;
        top: 110px;
        left: 10px;
        flex-direction: column;
        row-gap: 2.1rem;
        z-index: 8;
    }

}


@media only screen and (min-width: 769px) {
    .nav {
        display: block !important;

    }

    .navVisible {
        display: none;
    }

    .header_left i {
        display: none;
    }
}

/* CSS cho trạng thái tablet */
@media only screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .navVisible {
        display: block !important;
    }

    .header_left i {
        display: block;
    }
}

/* CSS cho trạng thái mobile */
// @media only screen and (max-width: 430px) {
//     .header_right {

//         p,
//         span {
//             display: none;
//         }


//     }
// }