
.my_swiper{
    position: relative; /* Đặt vị trí tương đối */

}
.swiper-pagination {
    position: relative; /* Đặt vị trí tương đối */
    margin-top: 10px; /* Đặt khoảng cách giữa Pagination và Slide */
  }