.pagination {
    margin-top: 25px;
    justify-content: center;
    display: flex;
    margin-bottom: 25px;

    a,
    span {
        color: #1677ff !important;
    }
}

.customRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .posterItem {
        width: calc((100% - 40px)/5);
    }
}

/* CSS cho trạng thái tablet */
@media only screen and (max-width: 769px) {
    .customRow {
        .posterItem {
            width: calc((100% - 40px)/4);
        }
    }
}

@media only screen and (max-width: 426px) {
    .customRow {
        .posterItem {
            width: calc((100% - 20px)/2);
        }
    }
}