section {
    margin-bottom: 25px;

    .tabs {
        display: flex;
        list-style: none;
        column-gap: 10px;
        color: var(--text-color);
        font-weight: bold;
        font-size: 110%;
        flex-wrap: wrap;

        li {
            cursor: pointer;
            padding: 6px 12px;
            border-radius: 8px;

            &:hover {
                color: var(--main-color);
                // background-color: var(--main-color);
            }
        }

        .selectedTab {
            background-color: var(--main-color);
            color: var(--text-color);

            &:hover {
                color: var(--text-color);
            }
        }

    }



    .customRow {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;

        .posterItem {
            width: calc((100% - 40px)/5);
        }
    }

}

.conentTab {
    h2 {
        margin-bottom: 15px;
        color: orange;
    }

    p {
        font-size: 130%;
        text-align: justify;
    }
}

/* CSS cho trạng thái tablet */
@media only screen and (max-width: 769px) {
    section {
        .customRow {

            .posterItem {
                width: calc((100% - 40px)/4);
            }
        }
    }

}

@media only screen and (max-width: 426px) {
    section {
        .customRow {
            .posterItem {
                width: calc((100% - 20px)/2);
            }
        }
    }

}