.header_logo {
    font-size: 160%;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    border: 0.5px solid var(--main-color);
    padding: 2px 5px;
    border-radius: 8px;
    span {
        color: var(--main-color);
    }
}