.poster_item {
    .card_cover {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
    }

    img {
        height: 200px;
        object-fit: cover;
        transition: filter 0.3s ease;
        border-radius: 5px;

    }

    .play_icon {
        color: var(--text-color);
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease;

        span {
            background-color: orange;
            border-radius: 50%;
            font-size: 50px;
            animation: animate 2s linear infinite;
        }


    }

    .name_poster {
        font-weight: bold;
        color: var(--text-color);
    }
}


.poster_item:hover img {
    filter: brightness(30%);
    transform: scale(1.1);
    transition: 0.5s all linear;
}

.poster_item:hover .play_icon {
    opacity: 1;
}

.poster_item:hover .name_poster {
    color: var(--main-color);
}

:where(.ant-card) .ant-card-body {
    padding: 0 !important;
    border-radius: 8px;
    /* Thay đổi giá trị border-radius */
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 rgb(255, 165, 0, 1);
    }

    40% {
        box-shadow: 0 0 0 40px rgb(255, 193, 7, 0);
    }

    80% {
        box-shadow: 0 0 0 40px rgb(255, 193, 7, 0);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(255, 193, 7, 0);
    }
}