.poster_movie {
    width: 100%;
    height: 420px;
    border-radius: 10px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        opacity: 0.3;
        object-fit: cover;
    }


    .desc {
        position: absolute;
        z-index: 1;
        padding: 20px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
        border-radius: 10px;

        .thumb {
            width: 100%;
            height: 380px;
            border-radius: 10px;
            overflow: hidden;

            img {
                max-width: 100%;
                height: 100%;
                opacity: 1;
                object-fit: cover;
            }
        }

        .information {
            text-align: left;
            font-weight: bold;
            line-height: 2;

            p {
                font-size: 15px;
            }


            h1 {
                font-size: 40px !important;
                line-height: 1.4 !important;
            }

            h2 {
                color: orange;
                font-size: 30px !important;
                line-height: 1.4 !important;

            }

            .country,
            .category {
                display: flex;
                column-gap: 10px;
                align-items: center;

                ul {
                    display: flex;
                    list-style: none;
                }
            }

            .tags {
                display: inline-block;
                color: var(--text-color);
                background-color: var(--main-color);
                text-transform: uppercase;
            }

        }
    }
}

/* CSS cho trạng thái tablet */
@media only screen and (max-width: 769px) {
    .poster_movie {
        height: 350px;

        .desc {
            .thumb {
                height: 310px;
            }

            .information {
                line-height: 1.8;
                font-weight:500;
                p {
                    font-size: 15px;
                }

                h1 {
                    font-size: 30px !important;
                }

                h2 {
                    font-size: 20px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 426px) {
    .poster_movie {
        height: 260px;

        .desc {
            .thumb {
                height: 220px;
            }

            .information {
                line-height: 1.6;
                font-weight:500;
                p {
                    font-size: 15px;
                }

                h1 {
                    font-size: 20px !important;
                }

                h2 {
                    font-size: 15px !important;
                    display: none;
                }
            }
        }
    }
}