/* NavigationBar.module.scss */

.navBar {
    color: var(--text-color);
    background-color: var(--bodr-color);
    min-width: 750px;
    justify-content: center;
    font-weight: bold;

    .itemNav {
        span:hover {
            color: #1677ff;
        }
    }
}