/* NavigationBar.module.scss */
.nav {
    text-align: center;

    .navBar {
        color: var(--text-color);
        background-color: var(--bodr-color);
        min-width:680px;
        justify-content: center;
        font-weight: bold;
        font-size: 110%;

        .itemNav {
            span:hover {
                color: #1677ff;
            }
        }
    }

    i {
        font-size: 250%;
    }

    .navVisible {

        color: var(--text-color);
        background-color: var(--bodr-color);

        li {
            font-weight: bold;
            font-size: 110%;
        }
    }
}

@media only screen and (min-width: 769px) {
    .nav {
        .navBar {
            display: block !important;

        }

        i {
            display: none !important;
        }

        .navVisible {
            display: none !important;
        }
    }

}

/* CSS cho trạng thái tablet */
@media only screen and (max-width: 768px) {
    .nav {
        .navBar {
            display: none;

        }

        i {
            display: block !important;
        }
    }
}