/* CSS cho trạng thái laptop */
@media only screen and (max-width: 2560px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
}

/* CSS cho trạng thái tablet */
@media only screen and (max-width: 769px) {
  .container {
    margin:  0 15px;
  }
}

/* CSS cho trạng thái mobile */
@media only screen and (max-width: 376px) {
  .container {
    margin: 0 15px;
  }
}